#no-mobile {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: white; */
  background: url("../assets/krusty-krap.jpg") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
}
.no-mobile__content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: bounce-in-bottom 1s both;
}
.no-mobile__content .no-mobile__warning {
  background-color: white;
  border-radius: 22px;
  font-size: 25px;
  padding: 35px;
  width: 400px;
  font-weight: 500;
  border: 1px solid black;
}
.no-mobile__content img {
  margin-bottom: 150px;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
