#no-mobile {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://w.namu.la/s/c73188f0bfa3eccfadbf96a03b8c9fdf98a140fb63ee806b3599f5bd9deff555d19767d15c0636303c63f50e1ddd3b94e236beec2777509eb843aa8d614fd5c3e4038321e069df92647532ecd36a703790c4c374a1af5791c99f786f2df630b9);
  background-size: 100% 100%;
  opacity: 1;
}
.no-mobile__content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: bounce-in-bottom 1s both;
}
.no-mobile__content .no-mobile__warning {
  background-color: white;
  border-radius: 22px;
  font-size: 25px;
  padding: 35px;
  width: 400px;
  /* height: 0px; */
  font-weight: 500;
  border: 1px solid black;
}
.no-mobile__content img {
  margin-bottom: 30px;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
